{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'data_charts/css/charts.css' %}">
<link rel="stylesheet" href="{% static 'data_charts/css/calendar.css' %}">
{% endblock %}

{% block content %}
  <h1>FitnessApp</h1>
  <p>Eat, train, sleep, repeat</p>
  <p id="warning" style="color: red; display:none;"></p>

    <div id="nutrition-canvas-container" style="padding: 20px;">
        <canvas id="nutrition-chart" ></canvas>
    </div>

    <div id="bodyweight-canvas-container" style="padding: 20px;">
        <canvas id="weight-chart" ></canvas>
    </div>

    <div id="tooltip"></div>

    <div id="menu" popover>
        <div id="menu-info"></div>
        <a id="training-button" class="button">Training session</a>
        <a id="nutrition-button" class="button">Nutrition</a>
        <a id="weighting-button" class="button">Weighting</a>
    </div>

    <div id="activity-calendar" class="activity-calendar">
        <div id="calendar-grid" class="calendar-grid"></div>
    </div>

    <script type="module" src="{% static 'js/dashboard_chart_controller.js' %}"></script>
    <script type="module" src="{% static 'js/dashboard_calendar_controller.js' %}"></script>

{% endblock %}