body {
    background: #dddddd;
}

li.nav-item {
    display: inline;
}

#canvas-container {
    width: 95%;
    height: 95%;
    box-sizing: border-box;
}

#myChart {
    background-color: white;
    display: block;
}

#tooltip {
    position: absolute;
    display: none;
    background: white;
    border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
}