body {
    background: linear-gradient(90deg, rgba(207,10,199,1) 0%, rgba(100,0,121,1) 44%, rgba(29,26,45,1) 100%);
}

li.nav-item {
    display: inline;
}

#canvas-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}

#myChart {
    background-color: white;
    display: block;
    width: 100%;
    height: 100%;
}

